main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form input.input-padron {
    display: block;
}

form label,
form legend {
    font-size: 20px;
    margin: 0 0 10px;
}

form input.input-padron,
form textarea {
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #ff8c00;
    transform: scale(1.1);
}

table {
    margin: 40px;
    
}
thead {
    background-color: #555;
    color: #fff;
    font-weight: bold;
}

td, th{
    border : 1px solid #000;
    padding: 8px 15px;;
}